@import '../colours';

.header {
  align-items: center;
  border-bottom: solid thin #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100px;
  padding: .8% 15%;
}

.logo {
  margin-right: 10px;
  width: 50px;
}

.brand {
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  margin: 2px 0;
  padding: 0;

  a {
    text-decoration: none;
  }
}

.rs-orange {
  color: $rs-orange;
}

.rs-green {
  color: $rs-green;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  max-width: 400px;
}

.link-header {
  margin: 15%;
}
