.section {
  padding: 1% 10% 5%;
}

.section-title {
  color: #fff;
  font-size: 1.5em;
}

.preview-box {
  background: #fff;
  border: solid #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 260px;

}

.preview-text {
  margin: 2px;
}

.preview-title-line {
  display: flex;
  justify-content: space between;
}

.preview-title {
  color: #666;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin: 2px 0;
  text-transform: uppercase;
}

.preview-desc {
  font-size: 13px;
}

.chili {
  width: 25px;
}

.preview-hr {
  width: 258px;
}
