@import './colours';

body {
  font-family: 'Open Sans', sans-serif;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.link {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #d5d5d5;
  }
}

.thumbnail {
  align-self: center;
  max-width: 258px;
}

.background-overlay {
  background-color: $background;
}
