.footer {
  border-top: solid thin #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: .9em;
  justify-content: space-between;
  max-height: 100px;
  padding: 1% 15%;
}

.footer-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 0;
}

.footer-content {
  width: 85%;
}

.footer-links {
  width: 80%;
}

.link-footer {
  padding-right: 5%;
}

.footer-text {
  font-size: .8em;
}
