@import '../colours';

.preview-box {
  background: #fff;
  border: solid #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 0;
  width: 260px;

}

.preview-content {
  color: #888;
  line-height: 27px;
  margin: 0 10px 5px;
}

.preview-title-line,
.preview-button-line {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px;
}

.preview-title {
  align-items: center;
  color: #666;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  margin: 2px 0;
  text-transform: uppercase;
}

.chili {
  width: 25px;
}

.preview-hr {
  border-bottom: 1px solid #eee;
  border-left: 0;
  border-top: 0;
  margin-bottom: 10px;
  width: 240px;
}

.preview-text {
  font-size: 13px;
}

.preview-time {
  color: $rs-green;
}

.preview-note {
  color: $rs-orange;
  font-weight: 600;
}

.preview-button {
  background-color: $rs-blue;
  border: solid thin #3181e8;
  border-radius: 2px;
  color: #fff;
  padding: 3% 5%;
  width: 100px;
}

.preview-ingredients {
  align-items: center;
  display: flex;
  font-style: italic;
}
